* {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background: #555;
	margin: 0;
}
image-src, info-data {
	display: none;
}
svg {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
table {
	border-spacing: 0;
	font-size: 1em;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
}
td {
	min-width: 1.4em;
	padding: 3pt 0;
}
tr {
	padding: 0;
}
.even-row {
	background: #eee;
}
.list-footer-left {
	padding-left: 1em;
	width:40%
}
.grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
.grabbed {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
.header-drag-handler {
	padding: 2pt;
}
.header-drag-handler-img svg {
	height: inherit;
	pointer-events: none;
}
.header-drag-handler-img {
	display: block;
	height: 1em;
	margin: auto;
	width: -webkit-fit-content;
	width: fit-content;
}
.hidden {
	display: none;
}
.inner {
	height: 100%;
}
.list table {
	width: 100%;
}
.list {
	background: #DADAFF;
	border: 2px solid;
	display: inline-block;
	max-height: calc(90% - 3em - 5px);
	max-width: 90%;
	min-height: 5em;
	min-width: -webkit-fit-content;
	min-width: fit-content;
	overflow: hidden;
	overflow-y: auto;
	-ms-overflow-y: auto;
	position: absolute;
	resize: both;
	width: 350px;
}
.list-content tbody {
	background: #fff;
}
.list-footer {
	display: flex;
	min-height: 1.4em;
	width: 100%;
}
.list-header {
	background: #bbf;
}
.picked-up {
	background: #bbb;
}
.plus-img svg {
	height: 1.4em;
	stroke: #aaa;
}
.plus-img:hover svg {
	stroke: #000;
}
.plus-img {
	max-width: -webkit-fit-content;
	max-width: fit-content;
	padding-top: 1.2pt;
}
.plus-img:hover {
	cursor: pointer;
}
.progress-bar-shell {
	background: #ccc;
	border: 2px #aaa solid;
	float: right;
	margin: 2px 0;
	width: 50%;
}
.row-drag-handler-img svg {
	height: 1.4em;
	pointer-events: none;
}
.social a {
	margin: 5px;
}
.social svg {
	height: 20px;
	max-width: 25px;
	transition: all 250ms ease-out;
}
.social svg:hover {
	transform: scale(1.5);
}
.social {
	float: right;
}
.task {
	display: inline-block;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	word-break: break-all;
}
.text {
	width: 90%;
}
.title {
	float: left;
	margin-left: .33em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.trash-img svg {
	display: block;
	max-height: 1.4em;
}
.trash-img:hover svg path[fill="none"] {
	stroke: #000;
}
.trash-img:hover svg path[fill="red"] {
	fill: #000;
}
.trash-img {
	width: 100%;
}
.trash-img:hover {
	cursor: pointer;
}
.X svg {
	height: 1em;
}
.X {
	max-width: -webkit-fit-content;
	min-width: -webkit-fit-content;
	max-width: fit-content;
	min-width: fit-content;
	padding-right: .33em;
	text-align: right;
}
#header h1 {
	margin-bottom: 5px;
}
#header {
	background: #55a;
	margin: 0;
	padding: 20px 1.5em 1px 1.5em;
}
#version-info {
	bottom: 3px;
	display: block;
	left: 3px;
	position: absolute;
}