.even-row {
	background: #eee;
}
.grab {
	cursor: grab;
	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.grabbed {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.header-drag-handler {
	padding: 2pt;
}
.header-drag-handler-img {
	display: block;
	height: 1em;
	margin: auto;
	width: fit-content;
	width: -webkit-fit-content;
}
.header-drag-handler-img svg {
	height: inherit;
	pointer-events: none;
}
.list {
	border: 2px solid;
	display: inline-block;
	min-height: 5em;
	min-width: fit-content;
	min-width: -webkit-fit-content;
	overflow: auto;
	position: absolute;
	resize: both;
	width: 350px;
}
.list table {
	width: 100%;
}
.list-content tbody {
	background: #fff;
}
.list-footer {
	background: #eef;
	height: auto;
	width: 100%;
}
.list-header {
	background: #ccf;
}
.row-drag-handler-img svg {
	height: 1.4em;
	pointer-events: none;
}
.social {
	float: right;
}
.social a {
	margin: 5px;
}
.social svg {
	height: 20px;
	max-width: 25px;
	transition: all 250ms ease-out;
}
.social svg:hover {
	transform: scale(1.5);
}
.title {
	float: left;
	margin-left: .33em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.trash-img {
	width: 100%;
}
.trash-img svg {
	display: block;
	max-height: 1.4em;
}
.X {
	max-width: -webkit-fit-content;
	padding-right: .33em;
	text-align: right;
}
.X svg {
	height: 1em;
}
body {
	background: #555;
}
image-src {
	display: none;
}
svg {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
table {
	border-spacing: 0;
	font-size: 1em;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
}
td {
	min-width: 1.4em;
	padding: 3pt 0;
}
tr {
	padding: 0;
}