* {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background: #555;
	margin: 0;
}
image-src, info-data {
	display: none;
}
svg {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
table {
	border-spacing: 0;
	font-size: 1em;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
}
td {
	min-width: 1.4em;
	padding: 3pt 0;
}
textarea {
	font-size: 1em;
	height: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
	width: 100%;
}
tr {
	padding: 0;
}
.even-row {
	background: #eee;
}
.grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
.grabbed {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
.header-drag-handler {
	padding: 2pt;
}
.header-drag-handler-img svg {
	height: inherit;
	pointer-events: none;
}
.header-drag-handler-img {
	display: block;
	height: 1em;
	margin: auto;
	width: -webkit-fit-content;
	width: fit-content;
}
.hidden {
	display: none;
}
.inner {
	height: 100%;
}
.list table, .note table {
	width: 100%;
}
.list, .note {
	background: #DADAFF;
	border: 2px solid;
	display: inline-block;
	max-height: calc(90% - 3em - 5px);
	max-width: 90%;
	min-height: 5em;
	min-width: -webkit-fit-content;
	min-width: fit-content;
	overflow: hidden;
	-ms-overflow-y: auto;
	overflow-y: auto;
	position: absolute;
	resize: both;
	width: 350px;
}
.list-content tbody {
	background: #fff;
}
.list-footer {
	display: flex;
	min-height: 1.4em;
	width: 100%;
}
.list-footer-left {
	padding-left: 1em;
	width:40%
}
.list-header, .note-header {
	background: #bbf;
}
.name {
	float: left;
	margin-left: .33em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.note-content {
	height: calc(100% - 1.8em);
}
.picked-up {
	background: #bbb;
}
.plus-img svg {
	height: 1.4em;
	stroke: #aaa;
}
.plus-img {
	max-width: -webkit-fit-content;
	max-width: fit-content;
	padding-top: 1.2pt;
}
.plus-img:hover svg {
	stroke: #000;
}
.plus-img:hover {
	cursor: pointer;
}
.progress-bar-shell {
	background: #ccc;
	border: 2px #aaa solid;
	float: right;
	margin: 2px 0;
	width: 50%;
}
.row-drag-handler-img svg {
	height: 1.4em;
	pointer-events: none;
}
.social a {
	margin: 5px;
}
.social svg {
	height: 20px;
	max-width: 25px;
	transition: all 250ms ease-out;
}
.social svg:hover {
	transform: scale(1.5);
}
.social {
	float: right;
}
.task {
	display: inline-block;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	word-break: break-all;
}
.text {
	width: 90%;
}
.trash-img svg {
	display: block;
	max-height: 1.4em;
}
.trash-img {
	width: 100%;
}
.trash-img:hover svg path[fill="none"] {
	stroke: #000;
}
.trash-img:hover svg path[fill="red"] {
	fill: #000;
}
.trash-img:hover {
	cursor: pointer;
}
.X svg {
	height: 1em;
}
.X {
	max-width: -webkit-fit-content;
	min-width: -webkit-fit-content;
	max-width: fit-content;
	min-width: fit-content;
	padding-right: .33em;
	text-align: right;
}
.X:hover path {
	stroke: black;
}
.X:hover path[fill="#cd0000"] {
	fill: red;
}
.X:hover {
	cursor: pointer;
}
#header {
	background: #55a;
	margin: 0;
	padding: 20px 1.5em 1px 1.5em;
}
#toolbar .file-img {
	cursor: pointer;
}
#toolbar .file-img:hover svg {
	stroke: #000;
}
#toolbar svg {
	fill: none;
	height: 2em;
	padding: 0 0.33em;
	stroke: #333;
}
#toolbar {
	display: block;
	position: absolute;
	right: 3px;
	top: calc(2.67em + 5px);
}
#title {
	margin: 0.67em 0 5px 0;
}
#title-text {
	font-size: 2em;
	margin: calc(0.67em - 2px) 0 3px 0;
	padding: 0;
}
#version-info {
	bottom: 3px;
	display: block;
	left: 3px;
	position: absolute;
}
[tooltip]:after {
	border-color: transparent;
	border-left-color: #000;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	content: none;
	display: none;
	height: 0;
	margin-top: -6px;
	position: absolute;
	right: 100%;
	top: 50%;
	width: 0;
}
[tooltip]:before {
	background: #000;
	border-radius: 4px;
	color: #fff;
	content: attr(tooltip);
	display: none;
	font-size: 14px;
	line-height: 1.4;
	margin-right: 6px;
	min-width: 100px;
	padding: 4px 8px;
	position: absolute;
	right: 100%;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
[tooltip]:hover:after, [tooltip]:hover:before {
	display: block;
	z-index: 50;
}